<%= render "partials/blog_masthead" %>

<div class="col-md-8 blog-main">
  <h3 class="pb-3 mb-4 font-italic border-bottom">
    Hercília Diniz
  </h3>
  <%= link_to 'New Blog Post', new_blog_path if can? :manage, @blog %>

  <%= paginate @blogs %>
  <%= render @blogs %>

  <p><a href="#">Back to top</a></p>
  <%= paginate @blogs %>
</div>
